<main class="container">
  <header class="row">
    <h1>Welcome to the SiMPL Marengo example application!</h1>
    <p>This is the SiMPL web app starter with the Siemens Marengo theme and the related Angular components.</p>
  </header>
  <br>
  <section>
    <h2>Demo</h2>
    <si-cards>
      <si-card
        link="/widgets"
        icon="marengo-collection"
        heading="Bootstrap Widgets"
        color="blue"
      >
        <p>
          The SiMPL Team recommends the usage of <a href="https://valor-software.com/ngx-bootstrap/#/" target="_blank">ngx-bootstrap</a>
          as a wrapper for bootstrap widgets / components. This Page somme elemets of that library in the Marengo theme.
        </p>
      </si-card>

      <si-card
        link="/objectView"
        icon="marengo-list"
        heading="Object View"
        color="orange"
      >
        <p>Sample Application page using a variety of SiMPL Marengo Components</p>
      </si-card>

      <si-card
        link="/about"
        icon="marengo-info"
        heading="About"
        color="petrol"
      >
        <p>Example of a page to show license information, terms of services, and other information about the application</p>
      </si-card>
    </si-cards>
  </section>
</main>
